* {
    background-color: purple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-shadow: 4px 3px 2px black;
}



.contenedor-nosotros {
    color: black;
}
#dfjk {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
  
  }
  






h1{
  color: yellow;
  font-size: xx-large;
}




.titulo{
color: #e53c3c;
font-size: 40px;
text-align: center;
margin-bottom: 60px;
}
*{

margin: 0;

padding: 0;

}



header{

background-color: #4c04d1;

height: 1234px;

}

h2{
color: rgb(0, 255, 179);
}



.footer{
background-color : rgb(11, 0, 51);
background-position-x: 1300px;
background-position-y: 100px;
font-family: 'LEMONMILK-Bold';
text-decoration: dashed;
text-align: center;
}

#qwerty {
background-color: #e53c3c;

}

#dfjk {
font-family: 'LEMONMILK-Bold';
color: white;
background-color: black;
font-size: large;
}

