*{
    background-color: rgb(43, 255, 0);
    font-family: 'LEMON MILK Bold';
    text-align: center;
    text-shadow: 4px 3px 2px black;
}


.footer{
    font-family: 'LEMONMILK-Bold';
    text-decoration: dashed;
    text-align: center;
   
  }

.imagen {
    border-radius: 50%;
}

h1 {
    color: rgb(233, 229, 0);
}

h2 {
    color: rgb(238, 11, 11);
}